body{
    background-image: url(el_arco_cabo_san_lucas_mexico.jpg);
    background-size: cover;
}

.carta_norte{
    min-height: 310px;
    margin-bottom: 40px;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}
.logo{
    height: 50px;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
color: black;
font-weight: 600;
}

.F-nav{
    background-color: transparent;
}

.dropdown-item{
    color: black !important;
}

.footer{
    margin-top: .5px;
    height: 100px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icono{
    font-size: 30px;
    padding: 15px;
}

.texto_color{
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    color:  white;
    margin-top: 90px;
}
.imagen__norte{
    height: 200px;
    width: 100%;
}


@media (min-width: 577px) and (max-width: 992px){

    .imagen__norte{
        height: 350px;
    }

}

@media (max-width: 576px){
    .imagen__norte{
        height: 200px;
    }
    .carta_norte{
        min-height: 180px;
    }
}


