body{
    background-image: url(F3.png);
}

.carta_norte{
    min-height: 310px;
    margin-bottom: 40px;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}
.logo{
    height: 50px;
}
.F-nav{
    background-color: #e3f2fd;
}

.footer{
    margin-top: .5px;
    height: 100px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icono{
    font-size: 30px;
    padding: 15px;
}

.texto_color{
    font-size: 70px;
    color:  rgb(19,94,7);
color:  linear-gradient(90deg, rgba(19,94,7,1) 0%, rgba(255,255,255,1) 52%, rgba(250,0,0,1) 100%);
}
.imagen__norte{
    height: 200px;
    width: 100%;
}


@media (min-width: 577px) and (max-width: 992px){

    .imagen__norte{
        height: 350px;
    }

}

@media (max-width: 576px){
    .imagen__norte{
        height: 200px;
    }
    .carta_norte{
        min-height: 180px;
    }
}


